* {
	font-family: Arial, sans;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
  background-color:	#EEE8AA;
  font-size: 62.5%;
}
h1, thead,tr{
  color:#000;
  text-align: center;
  padding: 20px;
}
.title {

  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
  color: #00008B;
}
.duckie{
   width: 20%;
   position: relative;
   left:  40%;
}
.container {
  width: 80%;
  margin: 20px auto;
}
.chart {
  width: 70%;
  margin: 20px auto;
}
.backdash {
  color:#000;
  text-align: center;
  padding: 20px;
}




.tabs {
	display: flex;
	flex-wrap: wrap; // make sure it wraps
}
.tabs label {
	order: 1; // Put the labels first
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: 	#FFA500;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99; // Put the tabs last
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: 	#F4A460;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #FF6347;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
